<div id="form_wrapper_email">

	<h1>Create Profile</h1>
		<p>Your resistration is almost done !! <br />
		Just create your profile and enjoy the Snowboarder map !! </p>
		
	<div class="form">
		<%= render 'form' %>
	</div>
	<%= link_to 'Back', profiles_path %>
</div>

