<%= form_for(@pecture) do |f| %>
  <% if @pecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pecture.errors.count, "error") %> prohibited this pecture from being saved:</h2>

      <ul>
      <% @pecture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
